#previewbox {
  color:white;
  background-color:black;
  font-family:monospace;
  font-size:13px;
  border: 1px inset ThreedShadow;
  padding:5px;
  height:16em;
  width:19em;
  overflow: auto;
}

.indent {
  margin-left:30px;
}

.center {
  text-align:center;
}

.pickercolumn {
  width:5em;
}

.color-well {
  height: 12px;
  border: 1px inset #CCCCCC;
}

.color-button {
  min-width: 0px;
  margin: 1px;
}

#blocklevel1 {
  padding:0em 1em 0.5em 1em;
  margin:0em;
}

#blocklevel2, #blocklevel3, #blocklevel4, #blocklevel5 {
  padding:0em 1em 0.5em 1em;
  margin:0.5em 0em 0em 0em;
}

#qchar1, #qchar2, #qchar3, #qchar4, #qchar5 {
  display:none;
}